<div  class="m-2 blackborder">
  <div class="px-16">
    <div class="grid grid-cols-12">
      <div class="col-span-8 flex items-center">
        <div class="flex space-x-10 mt-6">
          <div
            class="px-8 py-10 rounded-full border-2 border-gray-100 bg-gray-100 "
          >
            <span>Image</span>
          </div>
          <div class="mt-2">
            <h1 class="text-3xl font-semibold">John Doe</h1>
            <p class="text-md font-semibold">Bio goes here</p>
            <div class="flex">
              <span class="material-symbols-outlined md-dark">
                location_on
              </span>
              <span class="block text-md font-semibold flex">orindo</span>
            </div>
            <link rel="stylesheet" href="" />
            <a
              href="https://hbjnkjnnn.com"
              class="text-xs font-semibold"
              target="_blank"
              >Twiteer: https://hbjnkjnnn.com</a
            >
          </div>
        </div>
      </div>
      <div class="col-span-4"></div>
      <div class="mt-4 flex gap-3">
        <span class="material-symbols-outlined"> link </span>
        <span>https.github.com</span>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-12 pt-5">
    <div class="blackborder col-span-6 px-3  m-6 ">
      <h1 class="text-3xl font-semibold text-blue-400">Heroes</h1>
      <p>Heroes Descriptions goes here</p>
      <div class="pt-3 flex gap-3 pb-3">
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          javascript
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angular
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angularjs
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          Angular2+
        </button>
      </div>
    </div>

    <div class="blackborder  col-start-7 col-end-13 px-5 m-6">
      <h1 class="text-3xl font-semibold text-blue-400">Heroes</h1>
      <p>Heroes Descriptions goes here</p>
      <div class="pt-3 flex gap-3">
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          javascript
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angular
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angularjs
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          Angular2+
        </button>
      </div>
    </div>
  </div>


  <div class="grid grid-cols-12 pt-1">
    <div class="blackborder col-span-6 px-3  m-6 ">
      <h1 class="text-3xl font-semibold text-blue-400">Heroes</h1>
      <p>Heroes Descriptions goes here</p>
      <div class="pt-3 flex gap-3 pb-3">
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          javascript
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angular
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angularjs
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          Angular2+
        </button>
      </div>
    </div>

    <div class="blackborder  col-start-7 col-end-13 px-5 m-6">
      <h1 class="text-3xl font-semibold text-blue-400">Heroes</h1>
      <p>Heroes Descriptions goes here</p>
      <div class="pt-3 flex gap-3">
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          javascript
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angular
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angularjs
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          Angular2+
        </button>
      </div>
    </div>
  </div>


  <div class="grid grid-cols-12 pt-1">
    <div class="blackborder col-span-6 px-3  m-6 ">
      <h1 class="text-3xl font-semibold text-blue-400">Heroes</h1>
      <p>Heroes Descriptions goes here</p>
      <div class="pt-3 flex gap-3 pb-3">
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          javascript
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angular
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angularjs
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          Angular2+
        </button>
      </div>
    </div>

    <div class="blackborder  col-start-7 col-end-13 px-5 m-6">
      <h1 class="text-3xl font-semibold text-blue-400">Heroes</h1>
      <p>Heroes Descriptions goes here</p>
      <div class="pt-3 flex gap-3">
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          javascript
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angular
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          angularjs
        </button>
        <button
          class="bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-1 rounded-md"
        >
          Angular2+
        </button>
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center mt-10">
    <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l mr-1">
        <<
    </a>
    <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mr-1">
        1
    </a>
    <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 mr-1">
        2
    </a>
    <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 mr-1">
        3
    </a>
    <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 mr-1">
        4
    </a>
    <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
        5
    </a>
    <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l ml-1">
        >>
    </a>
</div>


<div class="flex justify-center items-center mt-4 mb-4">  
  <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-full mr-2">
       Newest
  </a>
  <a href="#" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-full">
    Oldest
  </a>
</div>





