.m-2 {
    margin: 10px;
}
.mt-2 {
    margin-top: 10px;
}
.mb-2 {
    margin-bottom: 10px;
}
.ml-2 {
    margin-left: 10px;
}
.mr-2 {
    margin-right: 10px;
}


.blackborder{
    border: 3px solid black;
}